body {
  background-color: #340505;
}
#head {
  font-weight:      bold;
  background-color: #150000;
  padding:          1em;
  margin-bottom:    1.5em;
}
#head h1 a {
  font-size:  25px;
  color:      #ffffff;
}
#head h1 a:hover {
  text-decoration: none;
}
#head h2 {
  font-size:    12px;
  color:        #bbaaaa;
  padding-top:  0.25em;
  padding-left: 0.1em;
}
#main {
  border:           0.25em solid #cbc2ae;
  border-radius:    0.75em;
  background-color: #ebe3d1;
  margin:           0em 4em 0em 4em;
  padding:          0.5em;
}
#main h1 {
  font-weight:    bold;
  padding-bottom: 0.25em;
  color:          #aa0000;
  font-size:      20px;
}
#main h2 {
  font-weight:  bold;
  padding:      0.75em 0em 0.25em 0em;
  color:        #550000;
  font-size:    16px;
}
#main ol {
  padding:          0.25em 0em 0.25em 1.25em;
}
#main a {
  color: #bb0000;
}
#footer {
  padding: 2.5em 0em 0em 4em;
}
#footer a {
  color: #ffffaa;
  margin-right: 1em;
}
#buttons {
  text-align: right;
  margin-top: -1.5em;
}
ol.lists {
  list-style-type:  decimal-leading-zero;
  margin-left:      0.5em;
}
