<h1>FAQ</h1>

<h2>What is the website useful for?</h2>
<p>Let's imagine, that you want to watch `Friends', `Firefly', `House MD', but now you haven't time. And of course you can forget about something, cause you are a human. So simply add your TODO to tag serials and later when you'll have enough time, look at this tag.</p>

<h2>It's too difficult to type all TODO to simply delete it. Maybe there is another way to delete TODO?</h2>
<p>You don't have to type whole TODO. Type just some first symbols.</p>

<h2>I have many TODOs, which start with the same 20 symbols. It's tediously to type them when I wanto to delete one. Can you help me?</h2>
<p>Of course. Did you noticed a numbers near your TODOs after print? So tell the number of todo to be deleted prepended with hash (#).</p>

