<h1>Quick Start</h1>
<ol>
<li>Set up jabber account</li>
<li>Add <%= link_to 'me@yatodo.net', 'xmpp:me@yatodo.net' %> into your roster</li>
<li>Enjoy</li>
</ol>
<p>Also you can read our <%= link_to 'FAQ', :faq %>.</p>
