<h1><%= link_to @user.jid, :action => 'tags', :jid => @user.jid %>  #<%= @tag.name %></h1>
<ol class="lists">
  <% @user.notes.find_each(:conditions => [ 'tag_id = ?', @tag.id ]) do |note| %>
    <li><%= note.name %></li>
  <% end %>
</ol>
