<h1><%= link_to @user.jid, 'xmpp:' + @user.jid %></h1>
<% @user.tags.find_each do |tag| %>
  <p><%= link_to '#' + tag.name, :action => 'notes', :tag => tag.name, :jid => @user.jid %></p>
  <ol>
    <% tag.notes.find_each do |note| %>
      <% if note.user == @user then %>
        <li><%= note.name %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>
