<h1><%= link_to @user.jid, 'xmpp:' + @user.jid %></h1>
<% @user.tags.find_each do |tag| %>
  <h2><%= link_to '#' + tag.name, :action => 'notes', :tag => tag.name, :jid => @user.jid %></h2>
    <ol class="lists">
      <% tag.notes.find_each(:conditions => [ 'user_id = ?', @user.id ]) do |note| %>
        <li><%= note.name %></li>
      <% end %>
    </ol>
<% end %>
